div.row {
    margin: 20px 0;
}

div.panel-body h4 {
    margin-top: 20px;
}

div.panel-body ol {
    padding-left: 20px;
}

#my-content > p {
    height: 60px;
    width: 60px;
    background-color: #abcbe0;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}